@charset "UTF-8";

// Acordeón para Opweb
.opweb {
    .acord .accordion-navigation > a {
        background-color: $primary-color;
        color: $white;

        &:after {
            color: $white;
        }
    }

    .accordion-navigation > a {
        font-size: rem-calc(15);
        overflow: auto;
        padding-left: rem-calc(27);
        position: relative;

        &:focus {
            border-bottom: 0;
        }

        &:after {
            color: $steel;
            content: "\f0da";
            font-family: fontawesome;
            font-size: rem-calc(19);
            left: rem-calc(10);
            position: absolute;
            top: rem-calc(2);
        }

        &.active:after {
            content: "\f0d7";
        }

        span {
            display: inline-block;
            margin: rem-calc(0 20%);
        }
    }

    .acord.panel {
        margin-bottom: rem-calc(-1);
        padding: 0;
        position: relative;

        .content {
            padding: rem-calc(8);
        }

        > a {
            color: $white;
            position: absolute;
            right: rem-calc(15);
            top: rem-calc(4);
            z-index: 10;
            font-family: robotoregular;
        }

        &.tit .acord.panel .accordion-navigation > a {
            background-color: scale-color($primary-color, $lightness: 5%);
        }

        &.tit .acord.panel .acord.panel .accordion-navigation > a {
            background-color: scale-color($primary-color, $lightness: 10%);
        }

        &.tit .acord.panel .acord.panel .acord.panel .accordion-navigation > a {
            background-color: scale-color($primary-color, $lightness: 15%);
        }
    }

    .accor .accor-toggle {
        cursor: pointer;
        padding-left: rem-calc(27);
        position: relative;

        &:after {
            content: "\f0da";
            font-family: fontawesome;
            font-size: rem-calc(19);
            left: rem-calc(10);
            position: absolute;
            top: rem-calc(5);
        }

        &.active:after {
            content: "\f0d7";
        }
    }

    .accor-content {
        display: none;

        &.default {
            display: table;
        }
    }
}