@charset "UTF-8";

/* COMIENZAN MIS ESTILOS */
// Administración
.catalogo .panel,
.implantaciones .panel {
    h2 {
        background-color: $primary-color;
        color: $white;
        font-size: rem-calc(20);
        margin: rem-calc((-20) -20 20);
        padding: rem-calc(15 0);
        text-align: center;
    }
    a.plus {
        left: auto;
        right: rem-calc(40);
        top: rem-calc(20);
    }
    .familias,
    .productos {
        list-style: none;
        a {
            color: $charcoal;
            display: block;
            font-family: 'robotoregular', sans-serif;
            font-weight: normal;
            font-size: rem-calc(17);
            padding: rem-calc(8 0);
        }
    }
    .productos ul {
        list-style-type: disc;
        li {
            margin-left: rem-calc(10);
        }
        a {
            font-family: 'robotolight', sans-serif;
        }
    }
    .botonera {
        .trash {
            font-size: rem-calc(35);
            position: relative;
            right: rem-calc(40);
            top: rem-calc(7);
        }
    }
}