@charset "UTF-8";

// Administración
.catalogo,
.implantaciones {
  .panel {
    padding-top: 0;
  }

  h2 {
    background-color: $primary-color;
    color: $white;
    font-size: rem-calc(20);
    margin: rem-calc((-20) -20 20);
    padding: rem-calc(15 0);
    text-align: center;
  }

  .plus {
    left: auto;
    right: rem-calc(40);
    top: rem-calc(20);
  }

  li {
    color: $charcoal;
    font-family: robotoregular, sans-serif;
    font-size: rem-calc(17);
    list-style: none;
    padding: rem-calc(8 0);

    a {
      display: block;
    }
  }

  .botonera .trash {
    font-size: rem-calc(35);
    position: relative;
    right: rem-calc(40);
    top: rem-calc(7);
  }
}

.productos li li {
  font-family: robotolight, sans-serif;
  list-style-type: disc;
  margin-left: rem-calc(25);
}
