@charset "UTF-8";

// Alert boxes
.alert-box {
    font-size: rem-calc(15);
    background-color: #009eb8;
    display: inline-block;
    position: absolute;
    left: 150px;
    top: 10px;
}

.sedes .alert-box,
.puestos .alert-box {
    left: 30px;
}

.alert-box.filtro {
    background-color: $filter-color;
    color: $oil;
}