@charset "UTF-8";

// Alert boxes
.alert-box {
  font-family: 'robotothin';
  font-size: rem-calc(15);
  background-color: #009eb8;
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 10px;
}

.alert-box.filtro {
  background-color: $filter-color;
  color: $oil;
}