@charset "UTF-8";

// Estilos generales
.contenido {
    padding-top: rem-calc(50);
    min-height: 607px;
    position: relative;
    a.plus {
        color: $charcoal;
        position: absolute;
        top: rem-calc(-15);
        left: rem-calc(70);
        .fa {
            padding: rem-calc(17) rem-calc(19);
            box-shadow: 0 0 5px $charcoal;
            background-color: $white;
            border-radius: 50%;
            font-size: rem-calc(20);
        }
    }
}

.numeros {
    font-size: rem-calc(20);
    font-family: 'robotoregular';
    color: $monsoon;
}

.aviso {
    color: $alert-color;
}

// Opweb
.opweb {
    .contenido {
        font-size: rem-calc(14);
    }
    h2 {
        font-size: rem-calc(16);
    }
    .panel {
        padding: rem-calc(10);
    }
    .tit h2 {
        margin: rem-calc(-10) rem-calc(-10) rem-calc(10) rem-calc(-10);
        padding: rem-calc(5) rem-calc(10);
        background-color: $primary-color;
        color: $white;
    }
}

.f-dropdown {
    box-shadow: 0 0 3px 3px hsla(0, 0%, 0%, 0.15);
    &:focus {
        outline: 0;
    }
}

// Columna derecha
.col-dcha {
    .aside-right {
        min-height: 607px;
        box-shadow: 0 6px 3px $charcoal;
        background-color: $silver;
    }
    p {
        font-size: rem-calc(14);
        padding: rem-calc(10) rem-calc(20);
    }
    header {
        background-color: $third-color;
        padding: rem-calc(10) rem-calc(20) rem-calc(2);
        color: $white;
        min-height: rem-calc(55);
        .trash .fa {
            float: right;
            color: $white;
            font-size: rem-calc(26);
        }
        p {
            padding: 0;
            margin: 0;
        }
        h2 {
            font-size: rem-calc(20);
            color: $white;
        }
        .trash {
            position: absolute;
            right: 40px;
            top: 15px;
        }
    }
    .info-ofer {
        color: $monsoon;
        padding-bottom: 0;
        margin-bottom: rem-calc(15);
    }
    span {
        display: block;
        font-size: rem-calc(16);
    }
    .fa {
        color: $oil;
        margin-right: rem-calc(6);
    }
    .factur {
        background-color: $gainsboro;
        padding-bottom: rem-calc(15);
        padding-top: rem-calc(15);
        p {
            margin-bottom: 0;
            color: $monsoon;
            padding: 0 rem-calc(20);
        }
        p span {
            margin-top: rem-calc(10);
        }
        p .left {
            color: $oil;
            font-family: 'robotoregular';
        }
    }
    // SVAs
    .svas {
        padding-bottom: rem-calc(20);
        border-top: 1px solid $gainsboro;
        p,
        div {
            text-align: center;
        }
        p:nth-child(1) {
            font-size: rem-calc(20);
            margin: 0;
            padding: rem-calc(10) 0;
            font-family: 'robotoregular';
            color: $charcoal;
        }
        label {
            font-size: rem-calc(20);
            color: $oil;
        }
        .coste {
            text-align: right;
            margin-left: rem-calc(20);
            display: inline-block;
            font-size: rem-calc(20);
        }
        select {
            width: 60%;
        }
    }
    // oper-tarif
    .oper-tarif {
        padding: rem-calc(20) rem-calc(40) 0;
        label {
            text-align: left;
            color: $steel;
        }
        select {
            margin-bottom: rem-calc(10);
        }
        &.destacado {
            background-color: $gainsboro;
        }
    }
    // Heco
    .heco {
        position: relative;
        p {
            //margin-bottom: 0;
            padding-bottom: 0;
            color: $monsoon;
        }
        // .accordion a {
        //     background-color: transparent;
        //     font-size: rem-calc(16);
        //     padding: rem-calc(5) rem-calc(20) rem-calc(5) rem-calc(40);
        //     color: $oil;
        // }
        // .accordion .content p {
        //     padding: 0;
        //     //margin-bottom: rem-calc(15);
        //     //font-size: rem-calc(16);
        //     line-height: rem-calc(20);
        //     display: block;
        // }
        // .accordion a:before {
        //     position: relative;
        //     font-family: FontAwesome;
        //     top: 0;
        //     left: rem-calc(-20);
        //     content: "\f04b";
        //     font-size: rem-calc(14);
        //     display: inline-block;
        // }
        // .accordion .active a:before {
        //     transform: rotate(90deg);
        // }
        // .accordion a .right {
        //     color: $monsoon;
        // }
   
    }
    .contrato {
        background-color: $third-color;
        padding: rem-calc(20);
        p {
            padding: 0;
            font-family: 'robotoregular';
            font-size: rem-calc(18);
            color: $white;
        }
        input[type=file] {
            margin-bottom: 0;
        }
    }
    .estado {
        padding: rem-calc(20) rem-calc(10) 0;
        background-color: $gainsboro;
        .button.small {
            font-size: rem-calc(16);
            padding: rem-calc(7) rem-calc(28) rem-calc(8);
        }
    }
}

// Notificaciones
#notific {
    ul {
        list-style-type: none;
        font-size: rem-calc(20);
        padding: rem-calc(30) rem-calc(10) 0 rem-calc(30);
        li {
            background: transparent url("../images/linea-notific.png") 6px 10px no-repeat;
            padding-bottom: rem-calc(20);
            padding-left: rem-calc(30);
            line-height: rem-calc(18);
            position: relative;
            margin-bottom: rem-calc(-3);
            &:last-child {
                background-image: none;
            }
        }
        a {
            font-size: rem-calc(18);
        }
        li:before {
            height: 14px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: rem-calc(3);
            width: rem-calc(14);
            border: 3px solid $iron;
            content: " ";
            background-color: $white;
        }
        li.warning:before {
            background-color: $warning-color;
        }
        li.alert:before {
            background-color: $alert-color;
        }
        span {
            color: $monsoon;
            font-size: rem-calc(14);
            padding: rem-calc(5) rem-calc(20) rem-calc(15) 0;
            display: block;
            line-height: rem-calc(16);
            padding: rem-calc(10) 0 rem-calc(15);
        }
    }
}

// Accesorios de sede
.sede-accesor {
    .sede-accesor-tit {
        font-size: rem-calc(20);
        font-family: 'robotoregular';
        color: $aluminum;
        margin-bottom: rem-calc(24);
        display: block;
    }
    .columns > .fa {
        display: block;
        margin-bottom: rem-calc(0);
    }
    .fa-stack {
        margin-bottom: rem-calc(24);
        margin-top: rem-calc(24);
        color: $steel;
    }
    .fa-stack-1x.fa-fighter-jet {
        margin-left: rem-calc(-8);
        margin-top: rem-calc(13);
        font-size: rem-calc(22);
    }
    .output.numeros {
        font-size: em-calc(25);
    }
}

// Search
#search {
    input[type="text"] {
        font-size: rem-calc(18);
    }
}

// Search filter
#search-filter {}

// Footer
footer.row {
    background-color: $secondary-color;
    color: $white;
    height: rem-calc(46);
    line-height: rem-calc(46);
}