@charset "UTF-8";

.borde {
    border: 10px solid red;
}

// Estilos generales
a:active,
a:link,
select:focus,
select:active {
    outline: 0 transparent !important;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

a:focus {
    border-bottom: 1px dotted;
}

.contenido {
    min-height: 607px;
    padding-top: rem-calc(50);
    position: relative;

    a.plus {
        color: $charcoal;
        left: rem-calc(70);
        position: absolute;
        top: rem-calc(-15);

        .fa {
            background-color: $white;
            border-radius: 50%;
            box-shadow: 0 0 5px $charcoal;
            font-size: rem-calc(20);
            padding: rem-calc(17 19);
        }
    }

    a.plus:hover,
    a.plus:active,
    a.plus:focus {
        border-bottom: none;
    }

    a.plus:hover .fa,
    a.plus:focus .fa,
    a.plus:active .fa {
        background-color: $third-color;
        color: $white;
    }
}

article.row .contenido.large-12 > * {
    margin-right: 4px;
}

.aviso {
    color: $alert-color;
}

.big {
    font-family: robotoregular, sans-serif;
    font-size: large;
    font-weight: normal;
}

// Parpadeo al actualizar el precio de la oferta
@-webkit-keyframes parpadeo {
    0%, 100% {
        background-color: $white;
    }

    50% {
        background-color: $info-color;
    }
}


@-moz-keyframes parpadeo {
    0%, 100% {
        background-color: $white;
    }

    50% {
        background-color: $info-color;
    }
}


@-o-keyframes parpadeo {
    0%, 100% {
        background-color: $white;
    }

    50% {
        background-color: $info-color;
    }
}


@keyframes parpadeo {
    0%, 100% {
        background-color: $white;
    }

    50% {
        background-color: $info-color;
    }
}


.cambio {
    padding-left: rem-calc(16);
    -webkit-animation: parpadeo 3s infinite;
    -moz-animation: parpadeo 3s infinite;
    -o-animation: parpadeo 3s infinite;
    animation: parpadeo 3s infinite;

    p {
        padding-left: rem-calc(16);
    }

    .big {
        color: $alert-color;
    }
}

// Search
#search {
    input[type="text"] {
        font-size: rem-calc(18);
    }
}

// Footer
footer.row {
    background-color: $secondary-color;
    color: $white;
    line-height: rem-calc(46);
    min-height: rem-calc(46);
}

// .loader {
//     display: inline-block;
//     height: 100px;
//     margin: 0 auto 1em;
//     padding: 1em;
//     text-align: center;
//     vertical-align: top;
//     width: 20%;
// }