@charset "UTF-8";

// jQuery UI - v1.11.1 - 2014-10-12 - Includes: core.css, autocomplete.css, menu.css, theme.css

// Layout helpers
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: rem-calc(1);
    margin: rem-calc(-1);
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: rem-calc(1);
}

.ui-helper-reset {
    border: 0;
    font-size: 100%;
    margin: 0;
    line-height: rem-calc(15);
    list-style: none;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    border-collapse: collapse;
    content: '';
    display: table;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-zfix {
    height: 100%;
    left: 0;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
}

.ui-front {
    z-index: 1009;
}

// Misc visuals
.ui-autocomplete {
    cursor: default;
    left: 0;
    position: absolute;
    top: 0;
}

.ui-menu {
    display: block;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    .ui-menu {
        position: absolute;
    }
    .ui-menu-item {
        cursor: pointer;
        margin: 0;
        min-height: 0;
        padding: rem-calc(3);
        position: relative;
    }
}

.ui-widget-content {
    background-color: $snow;
    border: 1px solid $iron;
    border-width: 0 1px 1px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background-color: $primary-color;
    color: $white;
}