@charset "UTF-8";

// Charts admin
.chart-holder {
    @include panel;
    padding: rem-calc(8);

    h2 {
        font-size: rem-calc(16);
        margin-bottom: rem-calc(16);
        text-align: center;
    }

    canvas {
        display: block;
        height: 600px;
        margin: 0 auto;
    }
}