@charset "UTF-8";

// Columna izquierda para Administración
.col-izda {
    .aside-left {
        min-height: 607px;
        box-shadow: 0 6px 3px $charcoal;
        background-color: $third-color;
    }
    ul {
        list-style: none;
        //padding-top: rem-calc(16);
        margin: 0;
    }
    a {
        color: $gainsboro;
        display: block;
        padding: rem-calc(6 5 6 35);
        &:hover,
        &.activa {
            background-color: scale-color($third-color, $lightness: -35%);
            color: #fff;
            //font-weight: bold;
       
        }
    }
}