@charset "UTF-8";

// dropdown no acordeón
.f-dropdown {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

    &:focus {
        outline: 0;
    }

    &.drop-left.open:before,
    &.drop-left.open:after {
        left: auto;
    }
}