@charset "UTF-8";

// Reveal-modal
.reveal-modal {
    border-radius: 8px 8px 6px 6px;
    border: 0 solid;
    padding: 0;
    h2 {
        background-color: $secondary-color;
        border-radius: 6px 6px 0 0;
        color: $white;
        font-size: rem-calc(20);
        line-height: rem-calc(35);
        margin-top: 0;
        padding: rem-calc(10 20);
        a {
            color: $white;
            float: right;
        }
        .fa {
            font-size: rem-calc(26);
        }
        .close-reveal-modal {
            color: $white;
            font-size: rem-calc(25);
            line-height: rem-calc(35);
            margin-left: rem-calc(30);
            position: initial;
        }
    }
    form {
        padding: rem-calc(30);
        .botonera {
            padding-top: rem-calc(15);
        }
        label {
            margin-bottom: rem-calc(16);
        }
    }
    .small-6.separador {
        border-right: 1px solid $base;
    }
    .botonera {
        margin-top: rem-calc(15);
    }
    .prohibido {
        left: 0;
        margin-top: rem-calc(-15);
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10;
        .fa-ban {
            color: $alert-color;
            font-size: 150px;
            opacity: .6;
        }
    }
    .config-numer {
        h3,
        h4 {
            color: $white;
            padding: rem-calc(3);
            text-align: center;
        }
        h3 {
            background-color: $third-color;
            font-size: rem-calc(20);
        }
        h4 {
            background-color: $jumbo;
            font-size: rem-calc(16);
        }
        h3 + h4 {
            margin-top: rem-calc(-8);
        }
        h5 {
            font-size: rem-calc(16);
            text-align: center;
        }
        & > .row .columns {
            padding-left: 2px;
            padding-right: 2px;
        }
    }
    .concept-ocas .medium-8 p {
        margin-left: rem-calc(15);
    }
}

form.selecc-red {
    padding-top: rem-calc(5);
    select {
        margin-top: rem-calc(10);
    }
    .puertos {
        background-color: $smoke;
        margin-bottom: rem-calc(6);
        &.activo,
        &:hover {
            background-color: $primary-color;
        }
        &.activo a,
        &:hover a {
            color: $white;
        }
        a {
            display: inline-block;
        }
        a:nth-child(1) {
            float: left;
            line-height: rem-calc(44);
            margin-bottom: 0;
        }
        a:nth-child(2) {
            float: right;
            margin-top: rem-calc(6);
        }
    }
}

.reveal-modal-bg {
    cursor: pointer;
}

.reveal-modal-bg:hover {
    background-color: rgba(195, 195, 195, 0.3);
}