@charset "UTF-8";

// FOOTABLE: añade paginación y ordena filas pulsando en cabecera
.footable {
    .footable-toggle {
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-family: 'fontawesome';
        font-size: rem-calc(14);
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        padding-right: rem-calc(5);
        speak: none;
        text-transform: none;
    }

    th {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;

        &.footable-sortable {
            cursor: pointer;
        }

        &.footable-sorted .footable-sort-indicator:before {
            content: '\f0d8';
        }

        &.footable-sorted-desc .footable-sort-indicator:before {
            content: '\f0d7';
        }

        .footable-sort-indicator {
            -webkit-font-smoothing: antialiased;
            color: $aluminum;
            display: inline-block;
            font-family: 'fontawesome';
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            padding-left: rem-calc(5);
            speak: none;
            text-transform: none;
        }

        .footable-sort-indicator:before {
            content: '\f0dc';
        }
    }

    tfoot td {
        padding: rem-calc(10 0);
    }
}

.pagination {
    margin: rem-calc(20 0);

    ul {
        display: inline-block;
        margin-left: 0;

        li {
            display: inline-block;
        }

        li > a,
        li > span {
            font-family: robotoregular, sans-serif;
            font-weight: normal;
            display: inline-block;
            padding: rem-calc(6 12);
            margin: rem-calc(0 3);
            text-decoration: none;
        }

        li > a:hover,
        li > a:focus,
        .active > a,
        .active > span {
            background-color: $third-color;
            border-radius: $global-radius;
            color: $white;
        }

        li > a:focus {
            background-color: $primary-color;
        }

        .disabled > span,
        .disabled > a {
            color: $aluminum;
        }

        .disabled > a:hover,
        .disabled > a:focus {
            background-color: transparent;
            color: $aluminum;
            cursor: default;
            border-bottom: none transparent;
        }

        li.footable-page-arrow a {
            font-size: rem-calc(20);
            padding: rem-calc(0 12 5);
            margin-top: rem-calc(1);
        }
    }

    &.pagination-centered {
        text-align: center;
    }
}

.no-paging .hide-if-no-paging {
    display: none;
}