@charset "UTF-8";

// Formularios en general
.postfix.button {
    height: rem-calc(30);
    line-height: rem-calc(30);
}

input[type="text"] {
    padding: rem-calc(2 4);
    height: rem-calc(30);
}

label {
    cursor: default;
    line-height: rem-calc(30);
}

fieldset {
    border: 0;
    margin: 0;
}

fieldset legend {
    font-weight: normal;
    font-size: rem-calc(20);
    font-family: 'robotoregular';
}

input[type=checkbox] {
    margin-right: rem-calc(10);
}

select {
    padding: rem-calc(2 4);
    height: rem-calc(30);
    background-color: transparent;
}

select,
select:hover {
    -moz-appearance: none;
    text-indent: 0.01px;
    cursor: pointer;
    border-color: $iron;
}

select[multiple] {
    height: auto;
    max-height: 100px;
}

option {
    padding: rem-calc(4 0 4 6);
    background-color: $white;
}

input[type="text"][disabled] {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.euro {
    position: relative;
    &:after {
        content: "\20AC";
        position: absolute;
        right: 12px;
        top: 3px;
        z-index: 20;
        font-family: 'robotoregular';
        color: $steel;
        font-size: rem-calc(20);
    }
    input[type="text"][disabled] {
        text-align: right;
        padding-right: 25px;
        margin-bottom: 0;
        -webkit-text-fill-color: $steel;
    }
}

.numeros,
.euro input {
    font-size: rem-calc(20);
    font-family: 'robotoregular';
    color: $steel;
}

input[type="text"].numeros {
    border-color: $silver;
    text-align: center;
    height: rem-calc(35);
    margin-bottom: 0;
}

.complem-sede input[type="text"],
.sede-accesor input[type="text"],
.conf-basica input[type="text"] {
    font-family: 'robotoregular';
    font-size: rem-calc(20);
    text-align: center;
    margin: 0;
    color: $steel;
    // background-color: transparent;
    // border: medium none;
    // box-shadow: none;
}

// Validación
input[type="text"][data-invalid] {
    border: 1px solid $alert-color;
}

[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
    font-style: normal;
    background-color: $alert-color;
    font-family: 'robotoregular';
}

form[data-abide] label {
    margin-bottom: rem-calc(17);
}

// Menu lateral
.off-canvas-list {
    select {
        color: $white;
        border-color: scale-color($primary-color, $lightness: -20%);
    }
    option {
        color: $oil;
    }
}

// input[type="checkbox"].checkbox {
//     -moz-appearance: none;
//     width: rem-calc(20);
//     height: rem-calc(20);
//     background: $white;
//     border-radius: 5px !important;
//     border: 1px solid #555 !important;
//     margin-right: 10px;
// }
// input[type="checkbox"]:checked {
//     background: #abd;
// }
.botonera {
    padding: rem-calc(15 0);
    .button, button {
        margin-bottom: 0;
    }
    .button.disabled {
        background-color: $iron;
    }
    .func-secondary {
        background-color: $button-func-bg-secondary;
        &:hover {
            background-color: #7d7d7d;
        }
    }
    .close-reveal-modal {
        font-size: rem-calc(14);
        position: static;
        line-height: normal;
    }
}

// Formularios Ofertas
.ofertas, .sedes, .puestos, .admin {
    label, .label {
        background-color: $third-color;
        text-align: center;
        font-size: rem-calc(16);
        font-family: 'robotoregular';
        //line-height: rem-calc(37);
   
    }
    label span, .label span {
        display: inline;
    }
}

// Formularios sedes
.aside-right label {
    background-color: transparent;
    color: $aluminum;
    font-family: 'robotolight';
}

.oper-tarif {
    label {
        text-align: right;
    }
    select {
        font-family: 'robotoregular';
        font-size: rem-calc(16);
    }
}

.svas {
    select {
        font-family: 'robotoregular';
        font-size: rem-calc(16);
        margin-top: rem-calc(20);
    }
}

// Formularios puestos-fijos
table.puestos {
    select {
        margin-bottom: 0;
    }
    // select[multiple] {
    //     margin-bottom: $form-spacing;
    // }
    // .search-filter select {
    //     margin-bottom: rem-calc(16);
    // }
    input[type="checkbox"] {
        margin-bottom: 0;
        margin-top: 10px;
    }
}

.otros-prod {
    margin-top: rem-calc(20);
    font-size: rem-calc(18);
    .fa {
        font-size: rem-calc(25);
        margin-right: rem-calc(5);
        vertical-align: text-top;
    }
}

// Formularios tramitación de sede
.sede-tramit {
    label {
        background-color: transparent;
        color: $oil;
    }
    .panel {
        margin-bottom: 0;
        & > .row > div {
            //display: table-cell;
       
        }
        & > .row > .big {
            vertical-align: middle;
            text-align: center;
            font-size: rem-calc(25);
        }
    }
}

// Formularios OPWEB
.opweb {
    form, .tabs {
        margin-top: rem-calc(15);
    }
    .tabs-content > .content {
        padding-top: 0;
        padding-bottom: 0;
    }
    label, .label, input[type="text"], button, .button {
        margin-bottom: 0;
    }
    label, .label {
        color: $oil;
        font-size: rem-calc(14);
        line-height: rem-calc(25);
    }
    input[type="text"] {
        color: $oil;
        padding: rem-calc(2);
        height: auto;
    }
    button, .button {
        padding: rem-calc(3 15);
        font-size: rem-calc(14);
    }
}