@charset "UTF-8";

// Formularios en general
button,
.button {
    font-weight: normal;
}

.postfix.button {
    height: rem-calc(30);
    line-height: rem-calc(30);
}

input[type="text"] {
    height: rem-calc(30);
    padding: rem-calc(2 4);
}

input[type="text"][disabled],
input[type="text"].disabled {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

input[type=checkbox] {
    margin-right: rem-calc(10);
}

label {
    cursor: default;
    line-height: rem-calc(30);
    &.required:after {
        content: '\f069';
        font-family: fontawesome;
        font-size: rem-calc(10);
        position: absolute;
        right: rem-calc(20);
        top: rem-calc(1);
    }
}

fieldset {
    border: 0;
    margin: 0;
    legend {
        font-family: 'robotoregular', sans-serif;
        font-size: rem-calc(20);
        font-weight: normal;
    }
}

select {
    background-color: transparent;
    height: rem-calc(30);
    padding: rem-calc(2 0);
    &[multiple] {
        height: auto;
        max-height: rem-calc(100);
    }
    option {
        background-color: $white;
        padding: rem-calc(4 0 4 6);
    }
}

select,
select:hover {
    -moz-appearance: none;
    border-color: $iron;
    cursor: pointer;
    text-indent: 0.01px;
}

select:focus,
input[type="checkbox"]:focus {
    background-color: $input-focus-bg-color;
    border-color: $input-focus-border-color;
    @include block-glowing-effect(focus, $glowing-effect-fade-time, $glowing-effect-color);
    outline: 0 dotted;
}

::-webkit-input-placeholder {
    color: $aluminum;
}

:-moz-placeholder {
    color: $aluminum;
    opacity: 1;
}

::-moz-placeholder {
    color: $aluminum;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $aluminum;
}

.euro {
    position: relative;
    &:after {
        color: $steel;
        content: '\20AC';
        font-family: 'robotoregular', sans-serif;
        font-size: rem-calc(20);
        font-weight: normal;
        position: absolute;
        right: 12px;
        top: 3px;
        z-index: 20;
    }
    &.peque:after {
        color: $iron;
    }
    &.peque input {
        font-family: 'robotolight', sans-serif;
        font-size: rem-calc(14);
        color: $oil;
    }
    input[type="text"][disabled] {
        -webkit-text-fill-color: $steel;
        margin-bottom: 0;
        padding-right: rem-calc(25);
        text-align: right;
    }
}

.numeros,
.euro input {
    color: $steel;
    font-family: 'robotoregular', sans-serif;
    font-size: rem-calc(20);
    font-weight: normal;
}

input[type="text"].numeros {
    border-color: $silver;
    height: rem-calc(35);
    margin-bottom: 0;
    text-align: center;
}

.complem-sede input[type="text"],
.sede-accesor input[type="text"],
.conf-basica input[type="text"] {
    color: $steel;
    font-family: 'robotoregular', sans-serif;
    font-size: rem-calc(20);
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.complem-sede .tabs-content input[type=checkbox] {
    margin: 0;
}

// Validación
input[type="text"][data-invalid] {
    border: 1px solid $alert-color;
}

[data-abide] .error small.error,
[data-abide] .error span.error,
[data-abide] span.error, [data-abide] small.error {
    background-color: $alert-color;
    font-family: 'robotoregular', sans-serif;
    font-style: normal;
    font-weight: normal;
}

[data-abide] .error input {
    margin-bottom: 0;
}

form[data-abide] label {
    margin-bottom: rem-calc(17);
}

// input[type="checkbox"].checkbox {
//     -moz-appearance: none;
//     width: rem-calc(20);
//     height: rem-calc(20);
//     background: $white;
//     border-radius: 5px !important;
//     border: 1px solid #555 !important;
//     margin-right: 10px;
// }
// input[type="checkbox"]:checked {
//     background: #abd;
// }
.botonera {
    padding: rem-calc(15 0);
    .button, button {
        margin-bottom: 0;
    }
    .button.disabled {
        background-color: $iron;
    }
    .func-secondary {
        background-color: $button-func-bg-secondary;
        &:hover {
            background-color: #7d7d7d;
        }
    }
    .close-reveal-modal {
        color: $white;
        font-size: rem-calc(14);
        line-height: normal;
        position: static;
    }
}

// Formularios Ofertas
.ofertas, .sedes,
.puestos, .admin {
    label, .label {
        background-color: $third-color;
        font-family: 'robotoregular', sans-serif;
        font-size: rem-calc(16);
        font-weight: normal;
        text-align: center;
    }
    label span,
    .label span {
        display: inline;
    }
}

// Formularios sedes
.aside-right label {
    background-color: transparent;
    color: $aluminum;
    font-family: 'robotolight', sans-serif;
}

.oper-tarif {
    label {
        text-align: right;
    }
    select {
        font-family: 'robotoregular', sans-serif;
        font-size: rem-calc(16);
        font-weight: normal;
    }
}

.svas {
    select {
        font-family: 'robotoregular', sans-serif;
        font-size: rem-calc(16);
        font-weight: normal;
        margin-top: rem-calc(20);
    }
}

// Formularios puestos-fijos
table.puestos {
    select {
        margin-bottom: 0;
    }
    input[type="checkbox"] {
        margin: rem-calc(10 0 0);
    }
}

.otros-prod {
    font-size: rem-calc(18);
    margin-top: rem-calc(20);
    .fa {
        font-size: rem-calc(25);
        margin-right: rem-calc(5);
        vertical-align: text-top;
    }
}

// Formularios tramitación de sede
.sede-tramit {
    label {
        background-color: transparent;
        color: $oil;
    }
    .panel {
        margin-bottom: 0;
        & > .row > .big {
            font-size: rem-calc(25);
            text-align: center;
        }
    }
}

// Formularios OPWEB
.opweb {
    form, .tabs {
        margin-top: rem-calc(15);
    }
    .tabs-content > .content {
        padding-top: 0;
        padding-bottom: 0;
    }
    // label, .label, input[type="text"], button, .button {
    //     margin-bottom: rem-calc(5);
    // }
    label, .label {
        color: $primary-color;
        font-size: rem-calc(14);
        line-height: rem-calc(25);
    }
    input[type="text"] {
        color: $oil;
        height: auto;
        //padding: rem-calc(2);
   
    }
    button, .button {
        font-size: rem-calc(14);
        padding: rem-calc(3 15);
    }
}