@charset "UTF-8";

// Header
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: robotoregular, sans-serif;
}

header {
    .tit-sede {
        background-color: $secondary-color;
        color: $white;
        font-family: robotoregular, sans-serif;
        font-size: rem-calc(18);
        line-height: rem-calc(22);
        min-height: rem-calc(35);
        padding: rem-calc(5 0);
    }

    .tab-bar section {
        @include grid-row($behavior: nest);
    }

    .tab-bar section h1 {
        font-size: rem-calc(22);
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    // Icono hamburger
    .tab-bar .menu-icon {
        width: rem-calc(45);

        span:after {
            left: rem-calc(25);
        }
    }

    // Columnas
    section {
        background-color: $primary-color;
    }

    section div:nth-child(2) {
        padding: rem-calc(0 0 0 80);
    }

    section div:nth-child(3) {
        padding-right: rem-calc(16);
        text-align: right;

        .fa {
            color: $white;
            font-size: rem-calc(28);
            height: rem-calc(36);
            padding: 0;
            text-align: center;
            vertical-align: middle;
            width: rem-calc(46);
        }

        .fa-bell-o {
            position: relative;
        }

        .fa-bell-o span {
            background-color: $alert-color;
            border-radius: 50%;
            font-size: rem-calc(15);
            height: rem-calc(19);
            min-width: rem-calc(19);
            padding-top: rem-calc(2);
            position: absolute;
            right: rem-calc(1);
            text-align: center;
            top: rem-calc(-8);
            vertical-align: middle;
        }

        .fa-home,
        .fa-info-circle {
            font-size: rem-calc(32);
        }

        .fa-power-off {
            font-size: rem-calc(28);
            margin-top: rem-calc(8);
        }
    }

    nav a:hover,
    nav a:hover .fa,
    nav a:focus,
    nav a:focus .fa {
        color: scale-color($anchor-font-color-hover, $lightness: -20%);
    }

    nav a:hover .fa span,
    nav a:focus .fa span {
        color: $white;
    }

    .tab-bar .menu-icon:hover span:after,
    .tab-bar .menu-icon:focus span:after {
        box-shadow: 0 0 0 1px scale-color($anchor-font-color-hover, $lightness: -20%), 0 8px 0 1px scale-color($anchor-font-color-hover, $lightness: -20%), 0 16px 0 1px scale-color($anchor-font-color-hover, $lightness: -20%);
    }

    nav a:focus {
        border-bottom: 0 dotted;
    }
}