@charset "UTF-8";

// Header
h1, h2, h3, h4, h5, h6 {
    font-family: "robotoregular", sans-serif;
}

header {
    .tit-sede {
        background-color: $secondary-color;
        font-family: "robotoregular", sans-serif;
        font-size: rem-calc(18);
        padding: rem-calc(5) 0;
        min-height: rem-calc(35);
        color: $white;
        line-height: rem-calc(22);
    }
    .tab-bar section h1 {
        font-weight: normal;
        font-size: rem-calc(22);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        //padding: 0 10.5rem 0 4rem;
   
    }
    // Columnas
    section {
        background-color: $primary-color;
    }
    // section div:nth-child(1) {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 5rem;
    //   height: 5rem;
    // }
    section div:nth-child(3) {
        text-align: right;
        padding-right: rem-calc(16);
        // position: absolute;
        // top: 0;
        // right: 15px;
        // width: 10rem;
        // height: 5rem;
        a:focus,
        a:active {
            outline-color: $white;
        }
        .fa {
            color: $white;
            font-size: rem-calc(28);
            padding: 0;
            vertical-align: middle;
            text-align: center;
            width: 46px;
            height: 36px;
        }
        .fa-bell-o {
            position: relative;
        }
        .fa-bell-o span {
            background-color: $alert-color;
            border-radius: 50%;
            height: 19px;
            position: absolute;
            right: 0;
            text-align: center;
            top: -8px;
            min-width: 19px;
            font-size: 15px;
            padding-top: 2px;
            vertical-align: middle;
        }
        // .fa-question-circle {
        //   font-size: rem-calc(30);
        // }
        .fa-home,
        .fa-info-circle {
            font-size: rem-calc(32);
        }
        // a.button:hover,
        // a.button:focus {
        //   background-color: transparent;
        // }
   
    }
}