@charset "UTF-8";

// Login
.login {
  h2.row {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: $global-radius $global-radius 0 0;
    color: $white;
    font-size: rem-calc(22);
    margin-top: rem-calc(20);
    padding: rem-calc(5 0 5 20);
  }

  .panel {
    background-color: scale-color($primary-color, $lightness: 85%);
    background-image: linear-gradient(to bottom, $white, scale-color($black, $lightness: 90%));
    border-radius: 0 0 $global-radius $global-radius;
    padding: rem-calc(50 20);
  }

  .no-bullet {
    font-family: robotoregular, sans-serif;
    font-size: rem-calc(20);
    font-weight: normal;
    line-height: rem-calc(40);
  }
}
