@charset "UTF-8";

// Sumoselect multiselect
.SelectClass {
    border: 0;
    height: 100%;
    left: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.SumoSelect {
    display: inline-block;
    position: relative;
    width: 100%;
    & > .optWrapper > .options > li {
        -moz-transition: 200ms ease;
        -webkit-transition: 200ms ease;
        transition: 200ms ease;
    }
    & > .optWrapper > .options > li label,
    & > .CaptionCont {
        background-color: transparent;
        color: $oil;
        cursor: pointer;
        font-family: 'robotolight', sans-serif;
        font-size: rem-calc(14);
        padding: rem-calc(3 0 3 6);
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    & > .CaptionCont {
        border: 1px solid #ccc;
        min-height: rem-calc(20);
        position: relative;
    }
    & > .CaptionCont:hover {
        background-color: scale-color($select-bg-color, $lightness: -3%);
    }
    & p {
        margin-bottom: 0;
    }
    & > .CaptionCont > span {
        display: block;
        overflow: hidden;
        padding-right: rem-calc(30);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & > .CaptionCont > span.placeholder {
        color: $aluminum;
    }
    & > .CaptionCont > label {
        background: rgb(240, 240, 240);
        background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(218, 218, 218, 1) 50%, rgba(218, 218, 218, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(50%, rgba(240, 240, 240, 1)), color-stop(50%, rgba(218, 218, 218, 1)), color-stop(100%, rgba(218, 218, 218, 1)));
        background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(218, 218, 218, 1) 50%, rgba(218, 218, 218, 1) 100%);
        background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(218, 218, 218, 1) 50%, rgba(218, 218, 218, 1) 100%);
        background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(218, 218, 218, 1) 50%, rgba(218, 218, 218, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dadada',GradientType=0 );
        background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(218, 218, 218, 1) 50%, rgba(218, 218, 218, 1) 100%);
        border: 1px solid #707070;
        bottom: 0;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        width: 17px;
        margin-bottom: 0;
    }
    & > .CaptionCont > label > i {
        background: url("../images/arrow-multiselect.png") center center no-repeat;
        border: 1px solid #fcfcfc;
        bottom: 0;
        display: block;
        height: 28px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
    }
    & > .optWrapper {
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
        left: 0;
        opacity: 0;
        position: absolute;
        top: rem-calc(30);
        transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        visibility: hidden;
        width: 100%;
        z-index: -100;
    }
    & > .optWrapper.open {
        opacity: 1;
        top: rem-calc(30);
        visibility: visible;
        z-index: 1000;
    }
    & > .optWrapper > .options {
        display: block;
        list-style: none;
        margin: 0;
        max-height: rem-calc(250);
        overflow: auto;
        padding: 0;
    }
    & > .optWrapper.isFloating > .options {
        max-height: 100%;
    }
    & > .optWrapper > .options > li {
        border-bottom: 1px solid #F3F3F3;
        padding: rem-calc(4 6);
        position: relative;
    }
    & > .optWrapper > .options > li:last-child {
        border-bottom: none;
    }
    & > .optWrapper > .options > li:hover {
        background-color: #3399ff;
    }
    & > .optWrapper > .options > li label {
        display: block;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & > .optWrapper > .options > li label:hover {
        color: $white;
    }
    & > .optWrapper > .options > li span {
        display: none;
    }
    /*Floating styles*/
    & > .optWrapper.isFloating {
        bottom: 0;
        left: 0;
        margin: auto;
        max-height: 90%;
        position: fixed;
        right: 0;
        top: 0;
        width: 90%;
    }
    /*Hover*/
    &:hover > .CaptionCont > label {
        background-color: #F1F1F1;
    }
    /*disabled state*/
    & > .optWrapper > .options > li.disabled {
        background-color: inherit;
    }
    & > .optWrapper > .options > li.disabled * {
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
        filter: alpha(opacity = 50);
        opacity: .5;
    }
    /*styling for multiple select*/
    & > .optWrapper.multiple > .options > li {
        padding-left: rem-calc(35);
    }
    & > .optWrapper.multiple > .options > li span {
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        width: rem-calc(30);
    }
    //& > .optWrapper.multiple > .options > li span i {
    //background: transparent url("../images/checkbox.png") no-repeat center center;
    // bottom: 0;
    // height: rem-calc(16);
    // left: 0;
    // margin: auto;
    // position: absolute;
    // right: 0;
    // top: 0;
    // width: rem-calc(16);
    //}
    & > .optWrapper.multiple > .options > li span i:after {
        color: $monsoon;
        content: '\f096';
        cursor: pointer;
        font-family: FontAwesome;
        font-size: rem-calc(20);
        font-style: normal;
        font-weight: normal;
        left: rem-calc(12);
        position: absolute;
        text-decoration: inherit;
        top: rem-calc(6);
    }
    & > .optWrapper > .MultiControls {
        //background-color: #fff;
        //border-top: 1px solid #ddd;
        //box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
        display: none;
    }
    & > .optWrapper.multiple.isFloating > .MultiControls {
        bottom: 0;
        display: block;
        margin-top: rem-calc(5);
        position: absolute;
        width: 100%;
    }
    & > .optWrapper.multiple.okCancelInMulti > .MultiControls {
        display: block;
    }
    & > .optWrapper.multiple > .MultiControls > p {
        @include button;
        cursor: pointer;
        display: inline-block;
        padding: rem-calc(12);
        text-align: center;
        width: 50%;
        margin-bottom: 0;
        font-weight: normal;
    }
    & > .optWrapper.multiple > .MultiControls > p.btnOk {
        border-right: 1px solid #dbdbdb;
    }
    /*styling for select on popup mode*/
    & > .optWrapper.isFloating > .options > li {
        padding: rem-calc(12 6);
    }
    /*styling for only multiple select on popup mode*/
    & > .optWrapper.multiple.isFloating > .options > li {
        padding-left: rem-calc(35);
    }
    & > .optWrapper.multiple.isFloating {
        padding-bottom: rem-calc(43);
    }
    /*selected state*/
    // & > .optWrapper.multiple > .options > li.selected span i {
    //     background-image: url("../images/checkbox-checked.png");
    // }
    & > .optWrapper.multiple > .options > li.selected span i:after {
        content: '\f046';
    }
    .disabled {
        opacity: .7;
    }
    .disabled > .CaptionCont > label {
        background-color: #f1f1f1;
    }
}

/*Background overlay*/
body > .BackdropSelect {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}