@charset "UTF-8";

// Notificaciones
#notific {
    ul {
        list-style-type: none;
        padding: rem-calc(30 10 0 30);
        li {
            background: transparent url("../images/linea-notific.png") 6px 10px no-repeat;
            line-height: rem-calc(20);
            margin-bottom: rem-calc(-3);
            padding-bottom: rem-calc(20);
            padding-left: rem-calc(30);
            position: relative;
            &:last-child {
                background-image: none;
            }
        }
        a {
            font-size: rem-calc(18);
        }
        li:before {
            background-color: $white;
            border: 3px solid $iron;
            border-radius: 50%;
            content: '';
            height: 14px;
            left: 0;
            position: absolute;
            top: rem-calc(3);
            width: rem-calc(14);
        }
        li.warning:before {
            background-color: $warning-color;
        }
        li.alert:before {
            background-color: $alert-color;
        }
        span {
            color: $monsoon;
            display: block;
            font-size: rem-calc(14);
            line-height: rem-calc(16);
            padding: rem-calc(10 0 15);
        }
    }
}