@charset "UTF-8";

/* Off-canvas menu */
.left-off-canvas-menu {
    left: 1px;
}

.tab-bar .menu-icon span:after {
    left: rem-calc(30);
}

li.off-canvas-head {
    background-color: $primary-color;
    color: $white;
    padding: rem-calc(10 10 0);
    &.clearfix {
        padding-bottom: 10px;
    }
    select {
        margin-bottom: rem-calc(16);
    }
    select:hover {
        background-color: transparent;
    }
}

ul.off-canvas-list {
    li a {
        padding: rem-calc(15 10);
        .fa {
            border-bottom: 1px dotted $white;
            font-size: rem-calc(28);
            margin-right: rem-calc(8);
            min-width: 28px;
            text-align: center;
            vertical-align: middle;
        }
        &:hover,
        &:active,
        &:focus {
            background-color: $smoke;
        }
    }
    select,
    select:focus {
        color: $white;
        border-color: scale-color($primary-color, $lightness: -20%);
        background-color: transparent;
    }
    option {
        color: $oil;
    }
}