@charset "UTF-8";

// Pasos listado sedes
.sedes .breadcrumbs > *:before,
.sedes .breadcrumbs > *:first-child:before,
.puestos .breadcrumbs > *:before,
.puestos .breadcrumbs > *:first-child:before {
    margin: 0;
}

.breadcrumbs {
    font-family: 'robotoregular', sans-serif;
    font-weight: normal;
    margin: 0;
    min-height: rem-calc(46);
    padding: 0;
    li {
        background-color: $base;
        border-bottom: 3px solid $base;
        height: rem-calc(46);
        line-height: rem-calc(46);
        text-align: center;
        .fa-shopping-cart {
            font-size: rem-calc(35);
            vertical-align: middle;
        }
    }
    li.activo:before {
        background: transparent url("../images/breadcrumb.svg") 0 0 no-repeat;
        height: rem-calc(46);
        position: absolute;
        right: rem-calc(-28);
        top: 0;
        width: rem-calc(28);
        z-index: 100;
    }
    li:nth-child(3).activo:before,
    li:nth-child(4).activo:before {
        background-image: none;
    }
    li.activo {
        background-color: $fourth-color;
        border-color: $warning-color;
    }
    li.current {
        background-color: $fourth-color;
        border-color: $fourth-color;
        a {
            cursor: pointer;
        }
        a:hover,
        a:focus,
        a:active {
            color: scale-color($anchor-font-color-hover, $lightness: -20%);
        }
    }
    .fa-shopping-cart {
        margin-right: rem-calc(15);
    }
}

.breadconf {
    li:nth-child(3).activo:before,
    li:nth-child(4).activo:before {
        background: transparent url("../images/breadcrumb.svg") 0 0 no-repeat;
    }
    li:nth-child(5).activo:before,
    li:nth-child(6).activo:before {
        background-image: none;
    }
}

.breadconf,
.conf-basica .panel,
.complem-sede.resumen .visual {
    .fa-building-o,
    .fa-desktop,
    .fa-stack-2x {
        font-size: rem-calc(30);
    }
    .fa-building-o {
        margin-top: rem-calc(7);
    }
    .fa-stack-2x {
        margin-top: rem-calc(9);
    }
    .fa-stack-1x {
        margin-left: rem-calc(13);
        margin-top: rem-calc(-10);
    }
    .fa-phone.fa-stack-1x {
        font-size: rem-calc(20);
    }
    .paralelo .fa-stack-2x:nth-child(1) {
        margin-left: rem-calc(-13);
    }
    .paralelo .fa-stack-2x:nth-child(2) {
        font-size: rem-calc(20);
        margin-top: rem-calc(15);
    }
    .paralelo .fa-stack-2x:nth-child(3) {
        font-size: rem-calc(35);
        margin-left: rem-calc(18);
        margin-top: rem-calc(5);
    }
    .fa-stack-1x.fa-desktop {
        font-size: rem-calc(18);
        margin-left: rem-calc(19);
        margin-top: rem-calc(-10);
    }
    .fa-stack-2x.fa-building-o {
        margin-top: rem-calc(5);
    }
    .fa-stack-1x.fa-fighter-jet {
        font-size: rem-calc(22);
        margin-left: rem-calc(-8);
        margin-top: rem-calc(10);
    }
    .fa-desktop {
        margin-top: rem-calc(10);
        &:after {
            content: 'TI';
            position: absolute;
            width: 100%;
            padding-top: rem-calc(15);
            letter-spacing: rem-calc(1);
            top: 0;
            left: 0;
            font-size: rem-calc(10);
            padding-left: rem-calc(2);
            color: $white;
            font-family: arial, sans-serif;
        }
    }
    a:hover .fa-desktop:after,
    a:focus .fa-desktop:after {
        color: scale-color($anchor-font-color-hover, $lightness: -20%);
    }
}