@charset "UTF-8";

// Estilos para selects
.selectricWrapper {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.selectric {
    border: 1px solid #DDD;
    position: relative;
    border-radius: 2px;
    .select-label {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 8px 9px 9px;
        font-size: 16px;
        line-height: 20px;
        color: $tuatara;
    }
    .select-button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 37px;
        text-align: center;
        font: 0/0 a;
        &:after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-top-color: $jumbo;
            border-bottom: none;
        }
    }
}

.selectricHover .selectric {
    border-color: $iron;
    .select-button:after {
        border-top-color: $charcoal;
    }
}

.selectricOpen {
    z-index: 99;
    .selectric {
        border-color: $iron;
    }
    .selectricItems {
        display: block;
    }
}

.selectricDisabled {
    opacity: 0.5;
    cursor: default;
    -webkit-touch-callout: none;
    user-select: none;
}

.selectricHideSelect {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
    select {
        position: absolute;
        left: -100%;
        display: none;
    }
}

.selectricInput {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectricTempShow {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

/* Items box */
.selectricItems {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: $white;
    border: 1px solid #CCC;
    border-top: none;
    box-shadow: 0 0 5px -5px;
    .selectricScroll {
        height: 100%;
        overflow: auto;
    }
    .selectricAbove & {
        top: auto;
        bottom: 100%;
    }
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 20px;
        min-height: 20px;
    }
    li {
        display: block;
        padding: 9px;
        border-top: 1px solid $white;
        border-bottom: 1px solid $silver;
        //color: #666;
        cursor: pointer;
        &.selected {
            background: #EFEFEF;
            color: #444;
            border-top-color: #E0E0E0;
        }
        &:hover {
            background: #F0F0F0;
            color: #444;
        }
        &.disabled {
            background: #F5F5F5;
            color: #BBB;
            border-top-color: #FAFAFA;
            cursor: default;
        }
    }
}