@charset "UTF-8";

/* Estilos sólo para la Guía de estilos */

/* Prism code hightlighter */
code {
    background-color: #efefef;
    border-color: #aaa;
}

.guia .contenido h2 {
    font-size: 28px;
    margin-bottom: 28px;
    color: #555;
}

.guia .contenido h3 {
    font-size: 24px;
    margin-bottom: 22px;
    color: #555;
}

.guia .contenido h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.guia .contenido h5 {
    font-size: 16px;
    margin-bottom: 18px;
    color: #555;
}

/* Menú izdo. */
.guia .aside-left li a {
    position: relative;
}

.guia .aside-left li.titulo span {
    background-color: #008496;
    color: #fff;
    display: block;
    padding: 6.4px 5.333333px 6.4px 37.33333px;
}

.guia .aside-left li.titulo li a {
    padding-left: 55px;
}

.guia .aside-left li.titulo li a.activa:after,
.guia .aside-left li.titulo li a:hover:after {
    right: 5px;
}

.guia .aside-left li a.activa:after,
.guia .aside-left li a:hover:after {
    content: "\f0a9";
    font-family: fontawesome;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 0;
    width: 22px;
}

/* colores */
.row.colores {
    margin-bottom: 20px;
}

.colores > div > div p {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 0;
    color: #333 !important;
}

.colores > div > div {
    height: 150px;
    position: relative;
    border: 1px solid #ccc;
}

.colores > div > div.primary {
    background-color: #0080a6;
}

.colores > div > div.secondary1 {
    background-color: #004250;
}

.colores > div > div.secondary2 {
    background-color: #009eb8;
}

.colores > div > div.secondary3 {
    background-color: #4b92db;
}

.colores > div > div.alert {
    background-color: #dd181e;
}

.colores > div > div.success {
    background-color: #43ac6a;
}

.colores > div > div.warning {
    background-color: #fcac23;
}

.colores > div > div.info {
    background-color: #a0d3e8;
}

.colores > div > div.gris1 {
    background-color: #f9f9f9;
}

.colores > div > div.gris2 {
    background-color: #fafafa;
}

.colores > div > div.gris3 {
    background-color: #f9f9f9;
}

.colores > div > div.gris4 {
    background-color: #f6f6f6;
}

.colores > div > div.gris5 {
    background-color: #f5f5f5;
}

.colores > div > div.gris6 {
    background-color: #efefef;
}

.colores > div > div.gris7 {
    background-color: #eee;
}

.colores > div > div.gris8 {
    background-color: #ddd;
}

.colores > div > div.gris9 {
    background-color: #ccc;
}

.colores > div > div.gris10 {
    background-color: #aaa;
}

.colores > div > div.gris11 {
    background-color: #999;
}

.colores > div > div.gris12 {
    background-color: #888;
}

.colores > div > div.gris13 {
    background-color: #777;
}

.colores > div > div.gris14 {
    background-color: #666;
}

.colores > div > div.gris15 {
    background-color: #555;
}

.colores > div > div.gris16 {
    background-color: #444;
}

.colores > div > div.gris17 {
    background-color: #333;
}

.colores > div > div.gris18 {
    background-color: #222;
}

.colores > div > div.gris19 {
    background-color: #000;
}

/* Tipografías */
.rl {
    font-family: robotolight;
}

.rr {
    font-family: robotoregular;
}

.t16 {
    font-size: 16px;
}

.t20 {
    font-size: 20px;
}

.t24 {
    font-size: 24px;
}

.t30 {
    font-size: 30px;
}

.typos .panel {
    background-color: #efefef;
}